/*Please do not make any changes in the code template*/
h2{
    text-align: center;
    font-style: italic;
   
}
h3{
    color:bisque;
    font-style: italic;
  
}

body{
    background-color: #666666;
    margin-left:65px;
    color: aliceblue;
}