table{
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 1rem;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
table, td, th{
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}
tr:first-child{
    background-color: #7456df;
    color: #ffffff;
}
th{
    background-color: #7456df;
    color: #ffffff;
}