<div>
    <!--Implement your code for creating table-->
    <table>
        <thead>
            <tr>
                <th>Ride Type</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pedal boat 2 seater</td>
                <td>170</td>
            </tr>
            <tr>
                <td>Pedal boat 4 seater</td>
                <td>520</td>
            </tr>
            <tr>
                <td>Motor boat 8 seater</td>
                <td>560</td>
            </tr>
            <tr>
                <td>Motor boat 10 seater</td>
                <td>680</td>
            </tr>
            <tr>
                <td>Row boat 4 seater</td>
                <td>500</td>
            </tr>
            <tr>
                <td>Row boat 6 seater</td>
                <td>580</td>
            </tr>
        </tbody>
        </table>
</div>