 /*Please do not make any changes in the given code template*/
h1{
    text-align: center;
    color:#98ff90;
}

body{
    background-color: #1f5f5b;
    margin-left:65px;
    color: aliceblue;
}

tr{
    background-color: #dca7a3;
    color:#000000;
    
}